#define SECRET_WIFI_SSID "ssid"
#define SECRET_WIFI_PASS "pass"

#define SECRET_MAIL_HOST "smtp.domain.tld"
#define SECRET_MAIL_PORT 587
#define SECRET_MAIL_USER "user"
#define SECRET_MAIL_PASS "pass"

#define SECRET_USER_NAME "User Name"
#define SECRET_USER_MAIL "user@domain.tld"
